.tabs__container{
    margin-right: 4px;

    &__button{
        background: none;
        border: 3px solid red;
        border-radius: 4px;
        width: 80px;
        height: 30px;
        font-weight: 600;
        cursor: pointer;

        &:hover{
            transition: 0.3s all ease-in-out;
            background-color: red;
            border: none;
            color: white;
        }
    }
    &__hashLink{
        color: black;
        text-decoration: none;
        border: 3px solid red;
        padding: 4px 10px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 600;
        background-color: white;

        &:hover{
            background-color: red;
            color: white;
            transition: 0.25s all ease-in-out;
        }
    }
}